<header class="main-header">
    <div class="logo">
        <a href="/">🎣 KlyovPlace</a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="#" class="cart-link">Кошик (0)</a></li>
        </ul>
    </nav>
</header>