
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KlyovPlace - Магазин для рибалок</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('partials/header') %>
    <div class="hero-section">
        <div class="hero-text">
            <h1>KlyovPlace</h1>
            <p>Твій ідеальний магазин для ідеальної риболовлі. У нас є все: від гострих гачків до професійних наметів для довгого відпочинку на природі.</p>
            <a href="/catalog" class="btn">Перейти до товарів</a>
        </div>
        
        <div class="hero-image">
            <img src="https://www.saltwatersportsman.com/wp-content/uploads/2021/09/img_9618kr-mcmurray-1024x768.jpg" alt="Рибалка на озері">
        </div>
    </div>

</body>
</html>